name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1,16 * *'

env:
  LANG: en_US.UTF-8 # (required form \NumberFormatter)

jobs:
  tests:
    name: PHP ${{ matrix.php }} - ${{ matrix.deps }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.0, 8.1, 8.2]
        deps: [highest]
        include:
          - php: 8.0
            deps: lowest
    steps:
      - uses: zenstruck/.github@php-test-symfony
        with:
          php: ${{ matrix.php }}
          deps: ${{ matrix.deps }}

  code-coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: zenstruck/.github@php-coverage-codecov
        with:
          php: 8.1

  composer-validate:
    uses: zenstruck/.github/.github/workflows/php-composer-validate.yml@main

  sca:
    uses: zenstruck/.github/.github/workflows/php-stan.yml@main

  fixcs:
    name: Run php-cs-fixer
    needs: sync-with-template
    if: (github.event_name == 'push' || github.event_name == 'schedule') && !startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - uses: zenstruck/.github@php-cs-fixer
        with:
          php: 8
          key: ${{ secrets.GPG_PRIVATE_KEY }}
          token: ${{ secrets.COMPOSER_TOKEN }}

  sync-with-template:
    name: Sync meta files
    if: (github.event_name == 'push' || github.event_name == 'schedule') && !startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - uses: zenstruck/.github@sync-with-template
        with:
          key: ${{ secrets.GPG_PRIVATE_KEY }}
          token: ${{ secrets.COMPOSER_TOKEN }}
